---
label: 'Test plugin-based topic'
top_level: true
related:
- config_help:help_test_additional
---
<meta name="help_topic:label" content=""/>
<meta name="help_topic:top_level"/>
<meta name="help_topic:related" content="config_help:help_test_additional"/>
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Provide a topic for testing tokens or whatever.{% endtrans %}</p>
